<div class="col width-fill">

  <div class="col">
    <div class="cell panel">
      <div class="header">
        成果物
      </div>
      <div class="body">
        <div class="cell">
          <div class="col">
            <div class="cell menu">
              <ul class="stat left nav">
                <li class=""><a href="#" class=""><span class="data">125 記事</span>ブログ</a></li>
                <li class=""><a href="#" class=""><span class="data">1,250 回</span>コミット</a></li>
                <li class=""><a href="#" class=""><span class="data">15 個</span>リポジトリ</a></li>
                <li class=""><a href="#" class=""><span class="data">3 個</span>スライド</a></li>
                <li class=""><a href="#" class=""><span class="data">3 個</span>ユーザ定義</a></li>
                <li class=""><a href="#" class=""><span class="data">3 個</span>ユーザ定義</a></li>
                <li class=""><a href="#" class=""><span class="data">3 個</span>ユーザ定義</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

