<div class="col width-fill">

  <div class="col">
    <div class="cell panel">
      <div class="header">
        成果物
      </div>
      <div class="body">
          <div class="col">
            <div class="cell menu">
              <ul class="stat left nav">
                <li class=""><a href="#" class=""><div class="label background-grey">123</div>ブログ</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">6530</div>コミット</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">4</div>リポジトリ</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">1</div>スライド</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">0</div>ユーザ定義</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">0</div>ユーザ定義</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">0</div>ユーザ定義</a></li>
              </ul>
            </div>
          </div>

      </div>
    </div>
  </div>

  <div class="col">
    <div class="cell panel">
      <div class="header">
        リンク
      </div>
      <div class="body">
        <div class="col">
          <div class="cell menu">
            <ul class="stat left nav">
              <li class=""><a href="#" class="">テストユーザさんの活動</a></li>
              <li class=""><a href="#" class="">ユーザ定義 ブログ (28)</a></li>
              <li class=""><a href="#" class="">ユーザ定義 レポジトリ (3)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

