<div class="col width-fill">

  <div class="col">
    <div class="cell panel">
      <div class="body">
        <div class="col">
          <div class="cell menu">
            <ul class="stat left nav">
              <li class=""><a href="#" class=""><div class="label background-grey">1</div>ユーザ定義 ブログ</a></li>
              <li class=""><a href="#" class=""><div class="label background-grey">1</div>ユーザ定義 リポジトリ</a></li>
              <li class=""><a href="#" class=""><div class="label background-grey">2</div>すべて</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="cell panel">
      <div class="header">
        ジャンル別
      </div>
      <div class="body">
          <div class="col">
            <div class="cell menu">
              <ul class="stat left nav">
                <li class=""><a href="#" class=""><div class="label background-grey">123</div>ブログ</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">6530</div>コミット</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">4</div>リポジトリ</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">1</div>スライド</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">1</div>技術文書</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">1</div>作品</a></li>
                <li class=""><a href="#" class=""><div class="label background-grey">1</div>その他</a></li>
              </ul>
            </div>
          </div>

      </div>
    </div>
  </div>

</div>

