<div class="nested-fields mb-10 col-md-offset-1">
  <div class="panel panel-default">
  <div class="panel-body">

  <div class="form-inline mb-10">
  <%= f.input :condition_key, label: false,
    collection: Division::RssConditionKey.all, include_blank: false %>
  に
  <%= f.input :condition_value, label: false %>
  を
  <%= f.input :relation, label: false,
    collection: Division::RssRelation.all, include_blank: false %>
  <%= link_to_remove_association '削除', f, class: 'btn btn-default' %>
  </div>

  </div> <!-- /panel-body -->
  </div>
</div>
