<div class="col width-fit">
  <div class="cell">
    <a href="#" class="powered-by"></a>
  </div>
</div>
<div class="col width-fill">
  <div class="cell pipes">
    <ul class="nav">
      <li id="active"><a href="#">Item one</a></li>
      <li><a href="#">Item two</a></li>
      <li><a href="#">Item three</a></li>
      <li><a href="#">Item four</a></li>
      <li><a href="#">Item five</a></li>
    </ul>
  </div>
</div>
