<div class="col width-fit mobile-width-fit sitemenu">
  <div class="cell">
    <%= link_to root_path do %>
      <%# <%= image_tag 'ACTW_logo_smart.png', alt: 'ACT Weaver', width: '40px' %>
    <%= image_tag 'ACTW_logo.png', alt: 'ACT Weaver', width: '280px' %>
  <% end %>
  </div>
</div>
<div class="tags sitemenutags">
  <div class="cell">
    <ul class="nav">
      <% if false %>
        <li><a href="#" class="">ログイン</a></li>
    <% end %>
      <li><a href="#" class="">nishio-dens</a></li>
      <li><a href="#"><span class="icon icon-16 icon-gear"></span></a></li>
      <li><a href="#"><span class="icon icon-16 icon-signout"></span></a></li>
    </ul>
  </div>
</div>
<div class="col width-fill sitemenu">
  <div class="cell">
    <ul class="col nav">
      <li><a href="#">ユーザ検索</a></li>
    </ul>
  </div>
</div>
<div class="sitemenu-responsive col collapsible collapsed">
  <div class="col collapse-trigger">
    <div class="cell">
      <ul class="nav ">
        <li class=""><a href="#" class=""><span class="icon icon-32 icon-align-justify"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="left collapse-section">
      <div class="cell">
        <ul class="nav">
          <li><a href="#">マイページ</a></li>
          <li><a href="#">ユーザ検索</a></li>
          <li><a href="#">設定</a></li>
          <li><a href="#">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

