<div class="cell main-content">
  <div class="col user-header">
    <div class="cell">
      <div class="page-header">
        <div class="col width-fit">
          <img alt="" src="https://avatars2.githubusercontent.com/u/818452?v=3&s=460" width="150" class="user-image">
        </div>

        <div class="col width-fill">
          <div class="col">
            <div class="col width-fit">
              <h1>テストユーザ</h1>
            </div>
            <div class="col width-fill">
              <ul>
                <li><a href="#"> <span class="icon icon-32 icon-github"></span> </a></li>
                <li><a href="#"> <span class="icon icon-32 icon-twitter"></span></a></li>
                <li><a href="#"> <span class="icon icon-32 icon-envelope-alt"></span></a></li>
                <li><a href="#"> <span class="icon icon-32 icon-link"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="cell activity">
              <ul>
                <li> 今月のACT: 100pt </li>
                <li> 先月のACT: 150pt </li>
                <li> 累計ACT: 1000pt </li>
                <li> <a href="#">ACTの詳細を見る</a> </li>
              </ul>
            </div>
          </div>

          <div class="col width-fill">
            <div class="cell panel">
              <div class="body">
                <div class="cell">
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                  ここに自己紹介文が入ります。
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col">
    <!-- user defined -->
    <div class="col content">
        <div class="col">
        <div class="cell panel content-panel">
          <div class="header">
            ユーザ定義 ブログ (28)
          </div>
          <% 5.times do %>
          <div class="body">
            <div class="cell">
              <div class="col">
                <div class="col width-fit mobile-width-fit">
                  <span class="icon icon-bookmark color-blue"></span>
                </div>
                <div class="col width-fill mobile-width-fill">
                  <span class="float-right">
                    <span class="text date">
                      <span class="icon icon-16 icon-time"></span>
                      2014年12月07日 公開
                    </span>
                    <br>
                  </span>
                  <div class="col width-fill mobile-width-fill">
                    <a href="#" class="fatty">ここにブログの記事タイトルが入ります。テストなんでも良い</a>
                  </div>
                  <div class="col tags">
                    <ul class="nav blocks">
                      <li><a href="#">Ruby</a></li>
                      <li><a href="#">Rails</a></li>
                      <li><a href="#">AWS</a></li>
                    </ul>
                  </div>
                  <div class="col mt-5 summary">
                    ユーザーのことを第一に考えた Visual Language (視覚的な言語) の作成に挑戦したということが述べられています。 「古典的な良いデザインの原則」と「技術や科学の可能性と革新」を融合した、そんなデザインを考えているようです。
                  </div>
                  <div class="col actw-settings-right">
                    <a href="#" class="">
                      <span class="icon icon-16 icon-pencil"></span>編集する
                    </a>

                    <a href="#" class="">
                      <span class="icon icon-16 icon-remove"></span>削除する
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        <% end %>
        </div>
      </div>
      <div class="col">
      <div class="cell pagination">
        <ul class="nav">
          <li class=""><a href="#" class="">Prev</a></li>
          <li class=""><a href="#" class="">1</a></li>
          <li class=""><a href="#" class="">2</a></li>
          <li class=""><a href="#" class="">3</a></li>
          <li class=""><a href="#" class="">4</a></li>
          <li class=""><a href="#" class="">5</a></li>
          <li class=""><a href="#" class="">Next</a></li>
        </ul>
      </div>
      </div>
    </div>

    <div class="col content">
        <div class="col">
        <div class="cell panel content-panel">
          <div class="header">
            ユーザ定義 レポジトリ (3)
          </div>
          <% 3.times do %>
          <div class="body">
            <div class="cell">
              <div class="col">
                <div class="col width-fit mobile-width-fit">
                  <span class="icon icon-bookmark color-blue"></span>
                </div>
                <div class="col width-fill mobile-width-fill">
                  <span class="float-right">
                    <span class="text date">
                      <span class="icon icon-16 icon-time"></span>
                      2014年12月07日 公開
                    </span>
                    <br>
                  </span>
                  <div class="col width-fill mobile-width-fill">
                    <a href="#" class="fatty">act-weaver-app</a>
                  </div>
                  <div class="col mt-5 summary">
                    ACT Weaverは、あなたの活動・成果物を一箇所にまとめるサービスです。
                  </div>
                </div>
              </div>
            </div>

          </div>
          <% end %>
        </div>
        </div>
    </div>

    <!-- /user-defined-->

    <div class="col content">
      <hr>
    </div>

    <!-- actitity -->
    <div class="col content">
      <h2><span class="icon icon-32 icon-rocket"></span>テストユーザさんの活動</h2>
      <div class="col">
        <div class="cell panel">
          <div class="header">
            2014年12月07日
          </div>
          <% 10.times do %>
          <div class="body">
            <div class="cell">
              <div class="col width-fit mobile-width-fit">
                <span class="icon icon-user"></span>
              </div>
              <div class="col width-fill mobile-width-fill">
                <div class="col">
                  <strong>
                    <a href="#">テストユーザ</a> さんがブログ <a href="#">ActiveRecordに関する何かのブログ記事です</a> を投稿しました
                  </strong>
                </div>
                <div class="col">
                  <div class="col width-fit mobile-width-fit">
                    <div class="cell">
                      <img alt="" src="https://avatars2.githubusercontent.com/u/818452?v=3&s=460" width="32px" height="32px">
                    </div>
                  </div>
                  <div class="col width-fill mobile-width-fill">
                    <div class="cell summary">
                      Added common class for long text wrap (whitespace)<br>
                      2 commits with 10 additions and 0 deletions
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>

        <div class="cell panel">
          <div class="header">
            2014年12月06日
          </div>
          <% 2.times do %>
          <div class="body">
            <div class="cell">
              <div class="col width-fit mobile-width-fit">
                <span class="icon icon-user"></span>
              </div>
              <div class="col width-fill mobile-width-fill">
                <div class="col">
                  <strong>
                    <a href="#">テストユーザ</a> さんがブログ <a href="#">ActiveRecordに関する何かのブログ記事です</a> を投稿しました
                  </strong>
                </div>
                <div class="col">
                  <div class="col width-fit mobile-width-fit">
                    <div class="cell">
                      <img alt="" src="https://avatars2.githubusercontent.com/u/818452?v=3&s=460" width="32px" height="32px">
                    </div>
                  </div>
                  <div class="col width-fill mobile-width-fill">
                    <div class="cell summary">
                      Added common class for long text wrap (whitespace)<br>
                      2 commits with 10 additions and 0 deletions
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>


        <div class="cell pagination">
          <ul class="nav">
            <li class=""><a href="#" class="">Prev</a></li>
            <li class=""><a href="#" class="">1</a></li>
            <li class=""><a href="#" class="">2</a></li>
            <li class=""><a href="#" class="">3</a></li>
            <li class=""><a href="#" class="">4</a></li>
            <li class=""><a href="#" class="">5</a></li>
            <li class=""><a href="#" class="">Next</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /actitity -->

    <!-- sidebar -->
    <%= render 'sidebar' %>
    <!-- /sidebar -->
  </div>
</div>

