/* common */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

.ui-helper-hidden-accessible {
  visibility: hidden;
}

.page-default-color {
  color: #4a4a4a;
}

.page-top {
}

.page-top h1 {
  font-size: 130%;
  font-weight: bold;
  margin-top: 0px;
}

/* sort table */
.table-sortable .item {
  cursor: move;
}


/* header */
.navbar {
  background-color: #FFF;
}

/* footer */
.footer {
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
}

/* user */
.user-summary {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding: 5px 5px 15px 5px;
}

.user-summary h1 {
  font-size: 120%;
  font-weight: bold;
  margin-top: 10px;
  color: #4a4a4a;
}

.user-summary h1 a {
  // color: #9b59b6;
  font-size: 130%;
}

.user-summary .profile {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  padding: 5px 5px 5px 10px;
}

/* actw */
.actw-panel {
}

.actw-panel .panel-heading h2 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.actw-panel h3 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

.actw-sidemenu {
}

.actw-sidemenu h2 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.actw-settings h2 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 5px;
  padding-bottom: 10px;
}

/* settings */

.actw-settings {
}

.actw-settings h1 {
  font-size: 130%;
  font-weight: bold;
  margin: 0;
}

.actw-settings label {
  text-align: right;
}
