<p><%= @resource.email %> 様</p>

<p>ACT Weaverをご利用いただき、誠にありがとうございます。</p>
<p>ACT Weaverのパスワードを忘れたとのご連絡を頂いております。。以下リンクからパスワードリセットが可能です。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>見に覚えのない場合、このメールは無視して下さい。</p>
<p>今後ともACT Weaverをよろしくおねがいいたします。</p>
