<div class="row actw-settings">
  <div class="col-md-12">
    <h1>フィルターを更新</h1>
    <hr>

  <%= simple_form_for(@form, url: filter_path(@form), method: :put, wrapper: :horizontal_form) do |f| %>
    <%= render 'form', f: f %>
  <% end %>
  </div>
</div>
