<div class="page-top">
<h1>テストユーザ さんのフィルター設定</h1>
</div>

<div class="row">
  <div class="col-md-12">
  <%= link_to new_filter_path, class: 'btn btn-default' do %>
    <i class="fa fa-plus"></i>
    フィルターを追加
  <% end %>

  <%= link_to '#', class: 'btn btn-default' do %>
    <i class="fa fa-wrench"></i>
    フィルター表示順を変更
  <% end %>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12 actw-settings">
  <h2>フィルター一覧</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>表示順</th>
        <th>フィルター名</th>
        <th>データ数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @filters.each do |filter| %>
    <tr>
      <td>
        <% if filter.display_mypage %>
          <label class="label label-success">マイページに表示</label>
        <% else %>
          <label class="label label-danger">マイページに非表示</label>
        <% end %>
      </td>
      <td><%= filter.display_order %></td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div> <!-- /actw-settings -->
</div>
